*{
    color: rgba(197, 129, 57,1);
    color: rgba(109, 176, 164,1);
    color: rgba(85, 37, 37,1);
    color: rgba(99, 57, 48,1);
    color: rgba(174, 134, 106,1);
    color: rgba(226, 228, 231,1);

}


