/* --------------------For mobile------------------------------- */
/* ------------------------------------------------------------------ */
@media all and (max-width:900px){
    #hamberger-menu{
        display: flex;
        /* position: absolute; */
        right: 10px;
        top: 2px;
    }
    .search-box{
        float: none;
        display: inline-block;
        width: 800px;
        
    }
    #hamberger-menu.active{
        display: flex;
    }
    .side-nav ul{
        align-items: center;   
        flex-direction: column;  
        width: 100%;
        /* display: none; */
    }
    .side-nav li{
        /* align-content: center;  */
        display: block;        
        
        
    }

}