/* .........Big tablet from 1024 to 1200px */
/* ------------------------------------------------------------------ */
/* ..........small to big tablet from768 to 1023px */
/* Small phone 400 to small tablet 768 */

@media all and (max-width:768px){
    #hamberger-menu{
        display: flex;
        right: 10px;
        top: 2px;
    }
    .search-box{
        display:block;
        width: auto;
        
    }
    #hamberger-menu.active{
        display: flex;
    }
    .side-nav ul{
        align-items: center;   
        flex-direction: column;  
        width: 100%;
        /* display: none; */
    }
    .side-nav li{
        /* align-content: center;  */
        display: block;        
        
        
    }

}






/* small phone from 0 to 420px */