*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Playpen Sans', cursive;
    font-size: 17px;
    background-color:rgb(233, 207, 189);
    text-rendering: optimizeLegibility;
    
}


/* ---------------------------------------------------------------------------- */
/* -----------------------------HEADER---------------------------------------- */
/* ----------------------------------------------------------------------------- */
header{
    display: flex;
    flex-direction: column;
    
}

.logo {
    width: 20%;    
}
.logo img {
    width: auto;  
    height: 95px;  
}

.first-row{
    height: 110px;
    margin: auto;
    width: 1170px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: 3%;
    background: rgb(143, 143, 195);
    
}
.search-box{
    width: 50%;
    background: rgb(232, 176, 176);
    border-radius: 5px;
}
.search-bar{
    display: flex;
    align-items: center;
   
   
}
input{
    flex: 1;         /* this make the search button move to the right side */
    height: 50px;
    background: rgb(236, 238, 241);
    border: 0;
    outline: 0;
    font-size: 18px;
    
}
::placeholder{
    font-family: 'Playpen Sans', cursive;
    font-size: 17px;
}
button{
    height: 50px;
    outline: 0;
    font-size: 25px;
    border: none;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius:10px ;
    padding: 5px 10px;
    display: flex;
}
.result-box ul li:hover{
    background:rgba(244, 231, 216, 0.896) ;
}
.result-box {
    max-height: 200px;
    overflow-y:scroll ;
}

.main-nav{
    display: flex;
    width: 25%;
}
.main-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    
    
}
.main-nav li:hover{
    background-color: rgba(232, 180, 106, 0.896);
    transition: all 0.5s;
}
#hamberger-menu{
    display: none; 
    position: relative;
}

/* --------------------second-row-------------------------- */
.second-row{
    background-color: pink;
    margin: auto;
}
.side-nav li{
    display: inline-block;
    margin-right: 65px;
    font-size: 120%;
    font-weight: 700;
    transition: border-bottom 0.5s;
}
.side-nav a{
    text-decoration: none;
}

.side-nav li a:hover,
.side-nav li a:active{
    border-bottom: 4px solid #020202;
    background-color: rgba(232, 180, 106, 0.896);
    transition: all 0.5s;
}
/* ---------------slider pannels--------------------- */
.section{
    height: 500px;
    background: rgb(238, 238, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.slider img{
    width: 800px;
    height: 400px;
    object-fit: cover;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -90px;
    justify-content: center;
    display: flex   ;
}
.m-btn{
    border: 2px solid rgb(231, 126, 55);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: orange;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 420px;
    display: none;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid orangered;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: rgb(104, 163, 211);
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: rgb(104, 163, 211);
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: rgb(104, 163, 211);
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: rgb(104, 163, 211);
}







/* ----------------bestseller section --------------------- */
.slide-container{
    /* max-width: 1120px; */
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.slide-content{
    padding: 15px;
}
.card{
    width: 312px ;
}
.card .image-box{
    height: 200px;
    padding-bottom: 10px;
}
.card .image-box img{
    height: 100%;
    border-radius: 15px;
    
    
}
.product-details{
    font-size: 20px;
    font-style: bold;
}


