*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Playpen Sans', cursive;
    font-size: 17px;
    background-color:rgba(174, 134, 106,1);
    text-rendering: optimizeLegibility;
}


/* ---------------------------------------------------------------------------- */
/* -----------------------------HEADER---------------------------------------- */
/* ----------------------------------------------------------------------------- */

/* for indexcopy */
/* .logo{ grid-row: logo;}
.search-box{ grid-row: search-box;}
.main-nav{ grid-row: main-nav;}
.container{
    display: grid;
    grid-row: 'logo search-box search-box search-box main-nav main-nav';
    gap: 0px;
    padding-top: 15px;
    background-color: pink;
} */
.logo{
    width: 150px;
    float: left;
    margin-right: 40px;
    align-items: center;
    width: 30%;
    
    
}
.first-row{
    height: 200px;
}
/*------------------ for search bar--------------------- */
.search-box{
    width: 80%;
    background: rgb(232, 176, 176);
    padding: 0px 20px;
    /* margin-right: 5%;  */
    /* margin-left: 5%; */
    margin-top: 50px;   
    /* position: relative;     */
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    padding-left:20px;
   
}
input{
    flex: 1;         /* this make the search button move to the right side */
    height: 50px;
    background: rgb(236, 238, 241);
    border: 0;
    outline: 0;
    font-size: 18px;
    
}
::placeholder{
    font-family: 'Playpen Sans', cursive;
    font-size: 17px;
}
button{
    height: 50px;
    outline: 0;
    font-size: 25px;
    border: none;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius:10px ;
    padding: 5px 10px;
    display: flex;
}
.result-box ul li:hover{
    background:rgba(244, 231, 216, 0.896) ;
}
.result-box {
    max-height: 200px;
    overflow-y:scroll ;
}
 
/* ----------------------------------login, cart and side-bar--------------------------------------------------- */
.sticky{
    background-color: rgba(38, 80, 119, 0.9);
    position: fixed;
    
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
}

  

.main-nav{
    padding-left: 5%;
    position: static  ;
    /* transform: translate(400% , 20%); */
    margin-top: 55px;
    display: flex;
    width: 30%;
}
.main-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    
    
}
.main-nav li:hover{
    background-color: rgba(232, 180, 106, 0.896);
    transition: all 0.5s;
}


.side-nav{
    margin-top: -10px;  

    position: sticky;
    text-align: center;
   
    
}
.side-nav a{
    text-decoration: none;
}
#hamberger-menu{
    display: none; 
   
    position: relative;
}
.side-nav li{
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 130%;
    font-weight: 700;
    transition: border-bottom 0.5s;}
/* .side-nav li a{
    
    
    
} */
.side-nav li a:hover,
.side-nav li a:active{
    border-bottom: 4px solid #020202;
    background-color: rgba(232, 180, 106, 0.896);
    transition: all 0.5s;
}


.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
/* ----------------bestseller section --------------------- */
.slide-container{
    /* max-width: 1120px; */
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.slide-content{
    padding: 15px;
}
.card{
    width: 312px ;
}
.card .image-box{
    height: 200px;
    padding-bottom: 10px;
}
.card .image-box img{
    height: 100%;
    border-radius: 15px;
    
    
}
.product-details{
    font-size: 20px;
    font-style: bold;
}


