*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Playpen Sans', cursive;
    font-size: 17px;
    background-color:rgba(174, 134, 106,1);
    text-rendering: optimizeLegibility;
}


/* ---------------------------------------------------------------------------- */
/* -----------------------------HEADER---------------------------------------- */
/* ----------------------------------------------------------------------------- */
.logo{ grid-area: logo;}
.search-box{ grid-area: search-box;}
.main-nav{ grid-area: main-nav;}
.side-nav{ grid-area: side-nav;}

.nav-container>div{
    display: grid;
    grid-template-areas:
    'logo search-box search-box search-box main-nav main-nav'
    'logo side-nav side-nav side-nav side-nav side-nav';
    gap: 0px;
    
    background-color: aliceblue;
}
.logo{

    width: 450px;
    float: none;
    background-color: white;
    transform: translate(5%, -25%);
    
}
.nav-bar{
    
    min-height: 50px;
    /* grid-auto-flow: column; */
    background-color: #fcfcfc;
    padding-top: 15px;
    
}
.main-nav{
    padding-top: 17px;
    font-size: 140%;
}
.main-nav:nth-last-child() i{
    margin-right: 20px;
}
.side-nav{
    padding-top: 15px;
    display: flex;
    
}
.side-nav:nth-last-child() {
    list-style: none;
    margin-right: 20px;
}
.side-nav li{
    display: inline-block;
    margin-right: 30px;
}
.side-nav li a{
    text-decoration: none;
    color: black;
    font-size: 130%;
    font-weight: 700;
    transition: border-bottom 0.5s;
    
}
.side-nav li a:hover,
.side-nav li a:active{
    border-bottom: 4px solid #cccccc;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

/*------------------ for search bar--------------------- */
.search-box{
    width: 800px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    
}
.row{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
input{
    flex: 1;         /* this make the search button move to the right side */
    height: 50px;
    background: rgba(226, 228, 231,1);
    border: 0;
    outline: 0;
    font-size: 18px;
}
::placeholder{
    font-family: 'Playpen Sans', cursive;
    font-size: 17px;
}
button{
    height: 50px;
    outline: 0;
    font-size: 18px;
    border: none;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius:15px ;
    padding: 5px 10px;
}
.result-box ul li:hover{
    background:rgb(202, 206, 211) ;
}
.result-box {
    max-height: 200px;
    overflow-y:scroll ;
}

